@font-face {
  font-family: 'glober bold';
  src: url('../fonts/glober-bold.otf');
}

@font-face {
  font-family: 'glober xbold';
  src: url('../fonts/glober-xbold.otf');
}

@font-face {
  font-family: 'glober light';
  src: url('../fonts/glober-light.otf');
}

@font-face {
  font-family: 'glober regular';
  src: url('../fonts/glober-regular.otf');
}

@font-face {
  font-family: 'glober semibold';
  src: url('../fonts/glober-semibold.otf');
}
