header {
  animation: fade-in-down $time var(--delay) forwards;
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: flex;
  z-index: 2;
  opacity: 0;

  // logo
  a {
    display: flex;

    &:hover {
      .glitch-button {
        &::before {
          animation: glitchy .3s ease .3s infinite;
        }

        &::after {
          animation: glitchy .3s ease infinite reverse;
        }
      }

      .glitch-content {
        span {
          @extend %glitch-content__text;
          animation-delay: .1s;
        }

        > span {
          animation-delay: 0s;
        }
      }
    }

    .glitch-button {
      font-size: em(25);

      @include media(tablet) {
        animation: fade-in-left-big $time * 2 calc(var(--delay) / 2) forwards;
      }

      .glitch-button__inner {
        padding: 6.5px 8px;
        letter-spacing: 0;
      }
    }

    .glitch-content {
      color: $white;
      font-family: $regular;
      text-transform: capitalize;
      position: relative;
      padding-left: 10px;
      font-size: em(28);
      line-height: 1.70;

      @include media(phone) {
        display: none;
      }

      > span {
        display: flex;
        height: 34px;
      }

      sup {
        top: 0;
        right: 33.5px;
        line-height: 1.2;
        position: absolute;
        text-transform: none;
        animation: fade-in-down $time var(--delay) forwards;
        display: flex;
        height: 12px;
        opacity: 0;

        span {
          font-size: em(6);
          font-family: $light;
          font-weight: initial;
          letter-spacing: $spacing;
        }
      }
    }
  }

  // menu
  ul {
    left: 0;
    right: 0;
    margin: 2px auto 0;
    position: absolute;
    width: fit-content;

    @include media(phone) {
      display: none;
    }

    @include landscape {
      display: block;
    }

    li {
      height: 100%;

      a {
        color: $white;
        font-family: $light;
        letter-spacing: $spacing;
        text-transform: uppercase;
      }
    }
  }
}
