<footer>

  <!-- copytight -->
  <p>
    <span>gontarenko <span id="year"></span></span>
  </p>

  <!-- social -->
  <div>
    <a href="https://facebook.com/mysecondspace" target="_blank" rel="noopener noreferrer" aria-label="facebook"></a>
    <a href="https://linkedin.com/in/gontarenko" target="_blank" rel="noopener noreferrer" aria-label="linkedin"></a>
    <a href="https://t.me/mysecondspace" target="_blank" rel="noopener noreferrer" aria-label="telegram"></a>
    <a href="https://github.com/mysecondspace" target="_blank" rel="noopener noreferrer" aria-label="github"></a>
    <a href="https://instagram.com/mysecondspace" target="_blank" rel="noopener noreferrer" aria-label="instagram"></a>
    <p>follow me</p>
  </div>
</footer>
