<header>

  <!-- logo -->
  <a href="/">

    <!-- button with glitch effect -->
    <p class="glitch-button">
      <span class="glitch-button__inner">g</span>
    </p>

    <!-- surname -->
    <p class="glitch-content">
      <span>gontarenko</span>
      <sup>
        <span>web production</span>
      </sup>
    </p>
  </a>

  <!-- menu -->
  <ul>
    <li>
      <a href="https://github.com/mysecondspace?tab=repositories" class="rotate" target="_blank" rel="noopener noreferrer">po<span>r</span>tfolio</a>
    </li>
  </ul>

  <!-- button with glitch effect -->
  <div id="open" class="glitch-button">
    <span class="glitch-button__inner">write me</span>
  </div>
</header>
